{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tnp.css' %}"/>
    <link rel="shortcut icon" type="image" href="{% static 'favicon.ico' %}"/>
    <title>TnPDb</title>
</head>
<body>
    <h1>TnP Database</h1>
    <P>Welcome to TnPDb! This is an all vehicle database that will be an API with full CRUD capabilities. Your options are trains for all everything that runs on rails, planes for everything that flies in the sky, cars for everything that drives on land without rails, and boats for all sea-faring vessels. Enjoy!</P>
    <nav>
        <a href="/trains">Trains</a>
        <a href="/planes">Planes</a>
        <a href="/cars">Cars</a>
        <a href="/boats">Boats</a>
    </nav>
    {% block content %} {% endblock %}
</body>
</html>